<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sid</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>psid.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/prs.sid</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PSID music file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PSID</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.sidmusic.sidtune</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>prg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PRG file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.audio</string>
				<string>public.audiovisual-content</string>
				<string>public.content</string>
				<string>public.message</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SID tune</string>
			<key>UTTypeIdentifier</key>
			<string>org.sidmusic.sidtune</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.sidmusic.org/sidplay/mac/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PSID</string>
				<key>public.filename-extension</key>
				<array>
					<string>sid</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/prs.sid</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>SIDPLAY</string>
	<key>CFBundleGetInfoString</key>
	<string>Version 5.1, Copyright 2022-2024 Alexander Coers</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>SID5</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://www.sidmusic.org/sidplay/mac/sidplay_appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
